@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>It is designed to allow users to practice buying and selling stock using 15 minute delayed data from a list of S&P 500 companies.</h4>
<br/><br/><br /><br/>
<h3>Feel free to send me a message!</h3>
<br/>
<address>
    <strong>Email:</strong>   <a href="mailto:b.longenecker7@gmail.com">b.longenecker7@gmail.com</a><br />
</address>