@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p><a class="btn btn-default" href="">Insert Message Function Here</a></p>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:b.longenecker7@gmail.com">b.longenecker7@gmail.com</a><br />
    <strong>Website:</strong> <a href="http://brandonlongenecker.com">www.brandonlongenecker.com</a>
</address>