@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>You have successfully logged in!</h1>
        <p class="lead">You currently have: $10,000.</p>
        <p><a href="" class="btn btn-primary btn-lg">Buy Stocks &raquo;</a></p>
    </div>

}
else
{
    <div class="jumbotron">
        <h1>Welcome to Stock Simulator.</h1>
        <p class="lead">Stock Simulator is a free tool to practice buying stocks.</p>
        <p><a href="Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        <p><a href="Account/Register" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
    </div>
}