@using Microsoft.AspNet.Identity
@using stockExchange.Extensions

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>You have successfully logged in!</h1>
        <p class="lead">You currently have: $@string.Format("{0:n}", Convert.ToDouble(User.Identity.GetCash())).</p>
        <p><a href="Stocks" class="btn btn-primary btn-lg">Buy Stocks &raquo;</a></p>
        <p><a href="Portfolio" class="btn btn-primary btn-lg">View Portfolio &raquo;</a></p>
    </div>

}
else
{
    <div class="jumbotron">
        <h1>Welcome to Stock Simulator.</h1>
        <p class="lead">Stock Simulator is a free tool to practice buying stocks.</p>
        <p><a href="Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        <p><a href="Account/Register" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
    </div>
}