@model IEnumerable<stockExchange.Models.Portfolio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfolio</h2>

@if (!@Model.Any())
{
    <h4>
        You don't have any stocks yet!
        <br>
        <br>
        <a href="/Stocks" class="btn btn-primary btn-lg">Buy Stocks &raquo;</a>
    </h4>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Price Purchased</th>
            <th>Amount</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var portfolio in Model)
        {
            <tr>
                <td>@portfolio.Symbol</td>
                <td>@portfolio.Price</td>
                <td>@portfolio.Amount</td>
                <td>@portfolio.Time</td>
            </tr>
        }
    </tbody>
</table>
}
